html,
body {
  font-family: 'Nunito', sans-serif;
}
.left-space {
  padding-left: 1rem;
}
.representation {
  font-size: 3rem;
  padding-top: 9rem;
  color: rgba(255, 255, 255, 0.9);
}
.displayValue:hover {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
}
.navbar {
  padding: 1rem;
  border-bottom: 3px solid rgba(0, 0, 0);
}
.highestZIndex {
  z-index: 31;
  overflow: hidden !important;
}
#nav-footer {
  border-top: 3px solid rgba(0, 0, 0);
}
#splitter {
  color: rgba(255, 255, 255, 0.25);
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 4rem;
}
#main-title {
  font-size: 3rem;
}
#app {
  height: 70vh;
  cursor: default;
}
#popupContent {
  border-radius: 0.5rem;
}
#copyColorValue {
  height: 100%;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmxlc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBT0E7QUFDQTtFQUNFLGFBQWEsb0JBQWI7O0FBR0Y7RUFDRSxrQkFBQTs7QUFHRjtFQUNFLGVBQUE7RUFDQSxpQkFBQTtFQUNBLCtCQUFBOztBQUdGLGFBQWE7RUFDWCxhQUFBO0VBQ0EsZUFBQTtFQUNBLHFCQUFBO0VBQ0EsMkNBQUE7O0FBR0Y7RUFDRSxhQUFBO0VBQ0EseUJBN0JNLGFBNkJOOztBQUdGO0VBQ0UsV0FBQTtFQUNBLDJCQUFBOztBQUdGO0VBQ0Usc0JBdENNLGFBc0NOOztBQUdGO0VBQ0UsZ0NBQUE7RUFDQSxpQkFBQTtFQUNBLHFCQUFBO0VBQ0Esc0JBQUE7RUFDQSx5QkFBQTtFQUNBLGVBQUE7O0FBR0Y7RUFDRSxlQUFBOztBQUdGO0VBQ0UsWUFBQTtFQUNBLGVBQUE7O0FBR0Y7RUFDRSxxQkFBQTs7QUFHRjtFQUNFLFlBQUEiLCJmaWxlIjoic3R5bGUuY3NzIn0= */